@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  margin: 50px;
  background-color: rgb(228, 209, 181);
}

.paper {
  margin: 10px 0;
  min-height: 150px;
  text-align: center !important;
  background-color: #76a6cb !important;
  padding: 10px 20px;
}
